nav>ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 15px;
    

}
nav a{
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
nav a:hover{
    background-color: gray;
}
.dropdown{
    display: none;
}
nav>ul>li:hover>ul{
display: block;
}